.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  min-width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 999;
  box-shadow: 0 2px 24px 0 rgb(0 0 0 / 15%);
  background-color: rgb(0 0 0 / 70%) !important;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.menuList {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.menuListItem {
  margin: 0px 32px;
}

.menuListItem:hover {
  color: #fb6314;
}

.footer {
  box-shadow: 0 2px 24px 0 rgb(0 0 0 / 15%);
  background-color: rgb(0 0 0 / 70%) !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  min-width: 100vw;
}

.footerContent {
  color: #fff;
  font-weight: bold;
  font-size: medium;
  text-align: center;
}

@media only screen and (max-width: 639px) {
  .nav {
    display: flex;
    flex-direction: column;
    width: 100vw;
  }

  .menuIcon {
    visibility: hidden;
    content-visibility: hidden;
  }
}
