.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  min-width: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 2px 24px 0 rgb(0 0 0 / 15%);
  background-color: rgb(0 0 0 / 70%) !important;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vh;
}

.menuList {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.menuListItem {
  margin: 0px 32px 0px 32px;
}

.menuListItem:hover {
  color: #fb6314;
}

.footer {
  box-shadow: 0 2px 24px 0 rgb(0 0 0 / 15%);
  background-color: rgb(0 0 0 / 70%) !important;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  min-width: 100vh;
}

.footerContent {
  color: #fff;
  font-weight: bold;
  font-size: medium;
}
