.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.home {
  min-height: 100vh;
  display: flex;
  position: relative;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.home:before {
  content: "";
  background-image: url(../assets/background.jpg);
  position: absolute;
  background-size: cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  opacity: 0.25;
}

.home h1 {
  color: #fcbc7c;
  text-shadow: 0 0 1px #000;
  font-size: 4rem;
}

.home h3 {
  color: #faf2e7;
  font-size: 2rem;
  text-shadow: 0 0 1px #000;
}

.divIcons {
  display: flex;
  position: absolute;
  flex-direction: row;
  justify-content: space-between;
  width: 350px;
  margin: auto 0;
  bottom: 15px;
}

.icon {
  color: #faf2e7;
  width: 64px;
  height: 64px;
  text-shadow: 0 0 1px #000;
}

.icon:hover {
  color: #fcbc7c;
  width: 64px;
  height: 64px;
  text-shadow: 0 0 1px #000;
}

.about {
  background-color: #faf2e7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.about h2 {
  color: #000;
  text-align: center;
  margin: 8rem 0 5rem 0;
}

.about h4 {
  color: #000;
  width: 70%;
  margin: 0 auto;
  text-align: justify;
  margin-bottom: 1rem;
}

.about p {
  color: #000;
  width: 70%;
  margin: 0 auto;
  text-align: justify;
  margin-bottom: 1rem;
}

.challenge {
  height: 100vh;
  background-color: #fcbc7c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.challenge h2 {
  color: #121212;
  text-align: center;
  margin: 5rem 0 5rem 0;
}
