.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #faf2e7;
  width: 60%;
  padding: 4rem;
  text-transform: uppercase;
}

.aside {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.card:has(.repoList) {
  height: auto;
}

.avatarAside {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 3rem;
}

.avatarAside a {
  color: #fb6314;
  font-weight: bold;
  margin-top: 1rem;
}

.avatar {
  background-color: #cdcdcd;
  vertical-align: middle;
  width: 192px;
  height: 192px;
  border-radius: 80%;
}

.dataAside {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.data {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.dataItem {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.dataText {
  color: #fb6314;
}

.dataValue {
  color: #fb6314;
  font-weight: 500;
  margin-left: 5px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.repositoryButton {
  background-color: inherit;
  padding: 1rem 4rem;
  border-color: #fb6314;
  margin-right: 10%;
  text-transform: uppercase;
  color: #fb6314;
  font-weight: bold;
  white-space: nowrap;
  width: 100%;
}

.repositoryButton:hover {
  background-color: #fb6314;
  border-color: none;
  text-transform: uppercase;
  color: #faf2e7;
  cursor: pointer;
}

.favoritesButton {
  background-color: inherit;
  padding: 1rem 4rem;
  border-color: #fb6314;
  text-transform: uppercase;
  color: #fb6314;
  font-weight: bold;
  white-space: nowrap;
  width: 100%;
}

.favoritesButton:hover {
  background-color: #fb6314;
  border-color: none;
  text-transform: uppercase;
  color: #faf2e7;
  cursor: pointer;
}

.repoList {
  margin: 2rem 0;
  width: 80%;
}

.repoList h3 {
  color: #fb6314;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.repoList li {
  color: #fb6314;
  list-style: none;
  background: #faf2e7;

  padding: 5px 0 5px 10px;
}
.repoList li:nth-child(odd) {
  background: #f48c4c;
  color: #faf2e7;
}

.favList {
  margin: 2rem 0;
  width: 80%;
}

.favList h3 {
  color: #fb6314;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.favList li {
  color: #fb6314;
  list-style: none;
  background: #faf2e7;

  padding: 5px 0 5px 10px;
}
.favList li:nth-child(odd) {
  background: #f48c4c;
  color: #faf2e7;
}
