.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #faf2e7;
  width: 90%;
  padding: 1rem;
  text-transform: uppercase;
}

.aside {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  margin: 10px 0;
}

.card:has(.repoList) {
  height: auto;
}

.avatarAside {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 3rem;
}

.avatarAside a {
  color: #fb6314;
  font-weight: bold;
  margin: 1rem 0;
}

.avatar {
  background-color: #cdcdcd;
  vertical-align: middle;
  width: 192px;
  height: 192px;
  border-radius: 80%;
}

.dataAside {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.data {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.dataItem {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.dataText {
  color: #fb6314;
}

.dataValue {
  color: #fb6314;
  font-weight: 500;
  margin-left: 2px;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.repositoryButton {
  background-color: inherit;
  padding: 1rem 0;
  border-color: #fb6314;
  text-transform: uppercase;
  color: #fb6314;
  font-weight: bold;
  white-space: nowrap;
  width: 100%;
}

.repositoryButton:hover {
  background-color: #fb6314;
  border-color: none;
  text-transform: uppercase;
  color: #faf2e7;
  cursor: pointer;
}

.favoritesButton {
  background-color: inherit;
  padding: 1rem 0;
  border-color: #fb6314;
  text-transform: uppercase;
  align-items: center;
  color: #fb6314;
  font-weight: bold;
  white-space: nowrap;
  width: 100%;
  margin-top: 16px;
}

.favoritesButton:hover {
  background-color: #fb6314;
  border-color: none;
  text-transform: uppercase;
  color: #faf2e7;
  cursor: pointer;
}

.repoList {
  margin: 1rem 0;
  width: 90%;
}

.repoList h3 {
  color: #fb6314;
  font-weight: 500;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.repoList li {
  color: #fb6314;
  font-size: 12px;
  list-style: none;
  background: #faf2e7;
  padding: 5px 0 5px 10px;
}

.repoList li:nth-child(odd) {
  background: #f48c4c;
  color: #faf2e7;
}

.favList {
  margin: 1rem 0;
  width: 90%;
}

.favList h3 {
  color: #fb6314;
  font-weight: 500;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.favList li {
  color: #fb6314;
  font-size: 12px;
  list-style: none;
  background: #faf2e7;
  padding: 5px 0 5px 10px;
}

.favList li:nth-child(odd) {
  background: #f48c4c;
  color: #faf2e7;
}

@media only screen and (min-width: 1280px) {
  .card {
    padding: 4rem;
  }

  .aside {
    flex-direction: row;
    margin: 0;
  }

  .buttons {
    flex-direction: row;
  }

  .repositoryButton {
    margin-right: 3rem;
  }

  .favoritesButton {
    margin-top: 0;
  }

  .repoList h3 {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: large;
  }

  .repoList li {
    font-size: 1rem;
  }

  .favList h3 {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: large;
  }

  .favList li {
    font-size: 1rem;
  }
}
